@(blogs: List[Blog], blogForm: Form[Blog], loginForm:Form[User],curUser: User)
@import helper._


  		<div class="login-area">
		@if(curUser==null){
		
		
		      @form(routes.Application.login()) {
					@inputText(loginForm("username")) 
					@inputText(loginForm("password")) 
		        	<input type="submit">
	    		}
					|
		        <a class="login-link" href="@routes.Application.signupPage()">sign-up</a>
	    	
**/
    	}else{
    	  <a class="login-link" href="">@curUser.username</a>
	      |
	      <a class="login-link" href="@routes.Application.logout()">logout</a>
    	}
 		 </div>



<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/blog.css")">

@main("Welcome to Play 2.1") {
	<a href="/blog" class="main-title">
    		My Blog
  	</a>

    @for(blog <- blogs){
    	<div id="content">
		    
	    		<div class="post">
					  <div class="post-heading">
					    <div class="post-title">
					      <a href="@routes.Application.single(blog.id)" >@blog.title </a> by 
					      @blog.author.username
					    </div>
					
					    <div class="post-date">
					      @blog.create_time
					    </div>
					 </div>
	
					 <div class="post-content">
					    	@blog.content
					 </div>
					 <hr>
					 <h3> <a href="@routes.Application.single(blog.id)">Comments(@blog.comments.size()) </a></h3>
				
					 
					</div>
	
			</div>
    	
    }
    <h2>Insert new blog to post</h2>
    @if(curUser!=null){
    	@form(routes.Application.post()) {
    			@inputText(blogForm("title"),args ='cols -> 80) 
    			@textarea(blogForm("content"),args = 'rows -> 10, 'cols -> 80)
		        <input type="submit">
	    	}
	    	<link rel="stylesheet" media="screen" href="@routes.Assets.at("javascripts/jquery.js")">
	    	
	    	<script type="text/javascript" src="@routes.Assets.at("javascripts/jquery.js")"></script>
	    	
	    	<link rel="stylesheet" media="screen" href="@routes.Assets.at("javascripts/jquery.wymeditor.min.js")">

	    	<script type="text/javascript" src="@routes.Assets.at("javascripts/jquery.wymeditor.min.js")"></script>

<script type="text/javascript">

jQuery(function() {
    jQuery('#content').wymeditor({
    
        html: '<p>Hello, World!<\/p>',
        stylesheet: 'styles.css',
        skin: 'twopanels',
        postInit: function(wym) {

            jQuery(wym._box).find(wym._options.containersSelector)
				.removeClass('wym_dropdown')
				.addClass('wym_panel')
				.find('h2 > span')
				.remove();jQuery(wym._box).find(wym._options.iframeSelector)
				.css('height','250px');
        }
    });
});

</script>

</head>
	    	
	   }else{
	   		<h3>Login to post new blog</h3>
	   }
	   	   
	    	
}
