@(blog: Blog, blogForm: Form[Blog],id: Long, loginForm:Form[User],curUser: User)
@import helper._


    
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/blog.css")">

@main("Welcome to Play 2.1") {
	<a href="/blog" class="main-title">
    		My Blog
  	</a>
  	
  	  		<div class="login-area">
		@if(curUser==null){
		
		
		      @form(routes.Application.login()) {
					@inputText(loginForm("username")) 
					@inputText(loginForm("password")) 
		        	<input type="submit">
	    		}
					|
		        <a class="login-link" href="">sign-up</a>
	    	
**/
    	}else{
    	  <a class="login-link" href="@routes.Application.signupPage()">@curUser.username</a>
	      |
	      <a class="login-link" href="@routes.Application.logout()">logout</a>
    	}
 		 </div>

 
    	    	<link rel="stylesheet" media="screen" href="@routes.Assets.at("javascripts/jquery.js")">
	    	
	    	<script type="text/javascript" src="@routes.Assets.at("javascripts/jquery.js")"></script>
	    	
	    	<link rel="stylesheet" media="screen" href="@routes.Assets.at("javascripts/jquery.wymeditor.min.js")">

	    	<script type="text/javascript" src="@routes.Assets.at("javascripts/jquery.wymeditor.min.js")"></script>
    
    <h2>Insert new blog to post</h2>
    @if(curUser!=null){
    	@form(routes.Application.submitEditSingle(id)) {
    			@inputText(blogForm("title"),args ='cols -> 80) 
    			@textarea(blogForm("content"),args = 'rows -> 10, 'cols -> 80, 'class -> "my-class")
		        @checkbox(blogForm("publish"))
		        <input type="submit">
	    	}

<script type="text/javascript">

jQuery(function() {
    jQuery('.my-class').wymeditor({
        stylesheet: 'styles.css',
        skin: 'twopanels',
        
    });
});

</script>

</head>
	    	
	   }else{
	   		<h3>Login to post new blog</h3>
	   }
	   	   
	    	
}
