@(blogs: List[Blog], blogForm: Form[Blog], loginForm:Form[User],curUser: User, published: List[Blog], unpublished: List[Blog], users:List[User])
@import helper._


  		<div class="login-area">
		@if(curUser==null){


		      @form(routes.Auth.login()) {
					@inputText(loginForm("username"))
					@inputText(loginForm("password")) 
		        	<input type="submit">
	    		}
					|
		        <a class="login-link" href="@routes.Auth.signup()">sign-up</a>

**/
    	}else{
    	  <a class="login-link" href="">@curUser.username</a>
	      |
	      <a class="login-link" href="@routes.Auth.logout()">logout</a>
    	}
 		 </div>



<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/blog.css")">
<script type="text/javascript" src="http://code.jquery.com/jquery.min.js" charset="utf-8"></script>



@main("Welcome to Play 2.1") {
<h2>Unpublished Blogs</h2>
		@for(u<- unpublished){
			<a href="@routes.Application.single(u.id)" >@u.title </a> by  @u.author.username <a href="@routes.Application.editSingle(u.id)"> edit post </a> <br>
    	}
<h2>Published Blogs</h2>    	
    	@for(p<- published){
			<a href="@routes.Application.single(p.id)" >@p.title </a> by @p.author.username <a href="@routes.Application.editSingle(p.id)"> edit post </a> <br>
    	}
    	
    	<h2>Users</h2>    	
    	@for(user<- users){
			<a>@user.username</a> <br>
    	}
    	
    }
    	    
     
    <h2>Insert new blog to post</h2>
    @if(curUser!=null){


    	@form(routes.Application.post()) {
    			@inputText(blogForm("title"),args ='cols -> 80)
    			@textarea(blogForm("content"),args = 'rows -> 10, 'cols -> 80, 'class -> "jqte")
		        @checkbox(blogForm("publish"))
		        <input type="submit">
	    	}


<!------------------------------------------------------------ jQUERY TEXT EDITOR ------------------------------------------------------------>
<link type="text/css" rel="stylesheet" href="http://jqueryte.com/css/jquery-te.css">
<script type="text/javascript" src="http://jqueryte.com/js/jquery-te-1.4.0.min.js" charset="utf-8"></script>
<script>
$(".jqte").jqte();
	
	// settings of status
	var jqteStatus = true;
	$(".status").click(function()
	{
		jqteStatus = jqteStatus ? false : true;
		$(".jqte-test").jqte({"status" : jqteStatus})
	});
</script>

<!------------------------------------------------------------ jQUERY TEXT EDITOR ------------------------------------------------------------>



</head>

	   }else{
	   		<h3>Login to post new blog</h3>
	   }





















