@(blogs: List[Blog])
@import helper._

@main("Welcome to Play 2.1") {
	<a href="/blog" class="main-title">
    		My Blog
  	</a>


<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/blog.css")">


  	     <div class="login-area">
    	  <a class="login-link" href="@routes.Application.signupPage()">signup</a>
	      |
	      <a class="login-link" href="@routes.Application.login()">login</a>
 		 </div>
 		 }
    @for(blog <- blogs){
    	<div id="content">
		    
	    		<div class="post">
					  <div class="post-heading">
					    <div class="post-title">
					      <a href="@routes.Application.single(blog.id)" >@blog.title </a> by 
					      @blog.author.username
					    </div>
					
					    <div class="post-date">
					      @blog.create_time
					    </div>
					 </div>
	
					 <div class="post-content">
					    	@Html(blog.content)
					 </div>
					 <hr>
					 <h3> <a href="@routes.Application.single(blog.id)">Comments(@blog.comments.size()) </a></h3>
				
					 
					</div>
	
			</div>
    	
	   	   
	    	
}
